@import '../../Styles/variables';

.textfield {
	border: none;

	max-width: 100%;
	background-color: inherit;
	&:focus {
		outline: none;
	}
}

.black {
	border-bottom: 1px solid $black;
	color: $black;
}

.white {
	border-bottom: 1px solid $white;
	color: $white;
}
