@import '../../Styles/variables';

.boardCard {
	background-color: $grey;
	color: $white;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

.boardCardHeader{
	display: flex;
	justify-content: space-between;
}

.boardCardAdd {
	cursor: pointer;
	transition: 0.3s linear;

	&:hover {
		color: $green;
	}
}

.boardCardRemove {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $red;
	}
}

.boardCardIcons {
	display: flex;
	align-items: center;
}

.boardCardEdit {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin: 0 10px;
	&:hover {
		color: $blue;
	}
}

.boardCardEditActive {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	color: $green;
}
