@import '../../Styles/variables';

.boardCard {
	background-color: $grey;
	color: $white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

.boardCardRemove {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $red;
	}
    margin-left: 10px;
}

.boardCardIcons{
    display: flex;
    align-items: center;
}

.boardCardEdit {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $blue;
	}
}

.boardCardEditActive {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	color: $green;
}
