@import '../../Styles/variables';

.card {
	background-color: $grey;
	color: $white;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

.header{
	display: flex;
	justify-content: space-between;
}

.add {
	cursor: pointer;
	transition: 0.3s linear;

	&:hover {
		color: $green;
	}
}

.remove {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $red;
	}
}

.icons {
	display: flex;
	align-items: center;
}

.edit {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin: 0 10px;
	&:hover {
		color: $blue;
	}
}

.editActive {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	color: $green;
}
