@import '../../Styles/variables';

.projectCard {
	position: relative;
	max-width: 300px;
	max-height: 150px;

	padding: 10px;
	border-radius: 12px;
}

.projectCardIcons {
	display: flex;
	justify-content: space-between;
}

.projectCardTitle {
	font-size: 16px;
}

.removeProjectCard {
	transition: 0.2s ease-in;
	cursor: pointer;
	&:hover {
		color: $red;
	}
}

.editProjectCard {
	transition: 0.2s ease-in;
	cursor: pointer;
	&:hover {
		color: $blue;
	}
}

.projectCardButton {
	float: right;
}

.white {
	background-color: $white;
}

.black {
	background-color: $black;
}
