@import '../../Styles/variables';

.card {
	position: relative;
	max-width: 300px;
	max-height: 150px;

	padding: 10px;
	border-radius: 12px;
}

.icons {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 16px;
	margin: 10px 0;
}

.remove{
	transition: 0.2s ease-in;
	cursor: pointer;
	&:hover {
		color: $red;
	}
}

.edit {
	transition: 0.2s ease-in;
	cursor: pointer;
	&:hover {
		color: $blue;
	}
}

.editActive{
	transition: 0.2s ease-in;
	transform: scale(1.15);
	cursor: pointer;
	color: $green;
}

.button {
	float: right;
}

.white {
	background-color: $white;
}

.black {
	background-color: $black;
}
