$black: #121212;
$grey: #292929;
$white: #ffffff;
$red: #c70000;
$blue: #6bc9eb;
$green: #78dc64;

%three-elements-by-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	margin: 32px 0;
}
