@import '../../Styles//variables';

.kanbanWrapper {
	position: relative;
}

.kanbanHeader {
	color: white;
	border-bottom: 1px solid $white;
}

.kanbanHeaderTitle {
	margin: 10px 0;
}

.kanbanHeaderDescription {
	margin-bottom: 15px;
}

.kanbanSections {
	@extend %three-elements-by-grid
}
