@import '../../Styles//variables';

.wrapper {
	position: relative;
}

.header {
	color: white;
	border-bottom: 1px solid $white;
}

.title {
	margin: 10px 0;
}

.description {
	margin-bottom: 15px;
}

.button {
	margin-bottom: 20px;
}

.sections {
	@extend %three-elements-by-grid;
}
