@import '../../Styles/variables';

.header{
    padding: 20px;
    background-color: $grey;
}

.back{
    display: flex;
    align-items: center;
    color: $white;
}

.arrowIcon{
    margin-right: 5px;
}